In [1]:
set1 = {"rama","shymya","gomya","chomya"}
print(set1)

{'rama', 'chomya', 'shymya', 'gomya'}

In [2]:
set1.add("pankya")
print(set1)

{'rama', 'shymya', 'chomya', 'gomya', 'pankya'}

In [4]:
set2=set1.clear()
print(set2)

None

In [6]:
set1 = {"rama","shymya","gomya","chomya"}
set3 = set1.copy()
print(set3)

{'rama', 'chomya', 'shymya', 'gomya'}

In [7]:
set2={"shymya","chomya"}
print(set1.difference(set2))

{'rama', 'gomya'}

In [11]:
set1.difference_update(set2)
print(set2)

{'shymya', 'chomya'}

In [12]:
set1.discard('chomya')
print(set1)

{'rama', 'gomya'}

In [18]:
set2={"one","three","rama"}
set3=set1.intersection(set2)
print(set3)

{'rama'}

In [19]:
set1.intersection_update(set3)
print(set1)

{'rama'}

In [20]:
x= set1.isdisjoint(set2)
print(x)

False

In [21]:
y = set1.issubset(set2)
print(y)

True

In [22]:
z=set1.issuperset(set3)
print(z)

True

In [24]:
set1.pop()
print(set1)

set()

In [28]:
set1={"one","four","three","five"}
set1.remove("one")
print(set1)

{'three', 'four', 'five'}

In [29]:
a=set1.symmetric_difference(set2)
print(a)

{'rama', 'one', 'four', 'five'}

In [30]:
b=set1.symmetric_difference_update(set2)
print(b)

None

In [31]:
x=set1.union(set2)
print(x)

{'rama', 'one', 'three', 'five', 'four'}

In [34]:
set1.update("2")
print(set1)

{'rama', 'one', '2', 'five', 'four'}